$main: #28303d;
$primary: #1073e7;
$secondary: #e7e7d9;
$accent: #1073e7;
$cta: #ffe600;
$accent-secondary: #a8ce0f;
$placeholder: #868d98;

$disabled-bg: #f1f1f1;
$disabled-text: #c2c5cb;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #e17070;
$info: #31ccec;
$warning: #f2c037;
